html, body {
    height: 100%;
    margin: 0;
}

body {
    background: cadetblue;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.title {
    width: 100%;
    text-align: center;
}

.pig_image{
    width:100%;
}

.pig_image img{
    width:300px;
    max-width:100%;
    height:auto;
    display:block;
    margin:0 auto;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dice {
    width: 100%;
}

.dice img {
    width:150px;
    height:150px;
    max-width:100%;
    display:block;
    margin:0 auto;
    margin-top: 10px;
    border: 3px solid black;
    border-radius: 5px;
}